<div class="bg-about text-white font-serif mx-auto p-8 md:p-14 h-auto flex flex-col justify-evenly">

    <div class="flex flex-row gap-6 justify-center items-center font-bold text-2xl mb-4">
        <i class="fa-solid fa-user"></i>
        <div>
            <p class="text-xl md:text-4xl tracking-widest">
                <span class="text-white">Ab</span>
                <span class="border-b-4 border-white">out</span>
                <span class="text-[#1e90ff] border-b-4 border-[#1e90ff]"> M</span>
                <span class="text-[#1e90ff]">e</span>
            </p>
        </div>
    </div>
    
    
    
    <div class="relative mx-auto grid grid-cols-1 md:grid-cols-3 max-w-screen-xl items-center">

       
            <div class="relative mt-3">
               <div class="flex justify-center">
                <img src="../../../assets/about 2.jpg" 
                class="border border-white rounded-lg object-scale-down shadow-xl w-3/4"
                width="400"
                alt="">
                
               </div>
            </div>



            <div class="flex flex-col justify-between h-full col-span-2  md:p-8">         

                <div class="mt-2">
                    <hr class="my-4">
                    <h1 class="hidden md:block font-bold md:tracking-wider">
                        <span class="text-md md:text-3xl tracking-wider">Cloud Solutions Architect</span> <br>
                         
                    </h1>

                    <h1 class="block md:hidden font-bold text-xl text-center">
                        Cloud Solutions Architect                    
                    </h1>
                    <hr class="my-4" >
                </div>

                <div>
                    <p class="text-[#1e90ff] text-sm text-center md:text-left md:text-md my-4">Transforming Technology, Empowering Innovation</p>
                </div>

                <div class="justify-evenly text-sm text-center md:text-left md:text-md  tracking-wide">
                    <p class="font-light">
                        My professional philosophy centers on viewing cloud architecture as an art form—where technical precision meets 
                        creative problem-solving. 
                    
                    </p>

                    <p class="mt-2">
                        I excel at translating intricate business requirements into elegant, high-performance
                        cloud infrastructures that drive operational efficiency and strategic growth. With a deep understanding of multi-cloud
                        and hybrid environments, I design solutions that are both technically robust and strategically adaptive.
                    </p>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4  text-center md:text-left">

                        <div class="mt-4 relative bg-[#0b1a41] p-3 rounded-lg shadow-2xl overflow-hidden hover:scale-105 duration-500 cursor-pointer">
                            <div class="absolute top-0 right-0 w-32 h-32 bg-blue-500/20 rounded-full -translate-x-1/2 -translate-y-1/2 blur-2xl"></div>
                            
                            <div class="relative z-10 flex flex-row items-center gap-4 mb-3">
                                <div class="">
                                    <i class="fa-solid fa-cloud text-white"></i>
                                </div>
                                <h3 class="font-medium text-xl text-white">Cloud Architecture</h3>
                            </div>
                            
                            <p class="text-gray-300 p-2 text-sm italic">
                                Designing scalable, resilient cloud infrastructures
                            </p>
                            
                            <div class="absolute bottom-0 left-0 w-full h-1 bg-gradient-to-r from-blue-500 to-purple-500"></div>
                        </div>
    
                        <div class="mt-4 relative bg-[#0b1a41] p-3 rounded-lg shadow-2xl overflow-hidden hover:scale-105 duration-500 cursor-pointer">
                            <div class="absolute top-0 right-0 w-32 h-32 bg-blue-500/20 rounded-full -translate-x-1/2 -translate-y-1/2 blur-2xl"></div>
                            
                            <div class="relative z-10 flex flex-row items-center gap-4 mb-3">
                                <div class="">
                                    <i class="fa-solid fa-less-than mr-1"></i>
                                    <i class="fa-solid fa-greater-than"></i>                            </div>
                                <h3 class="font-medium text-xl text-white">Solution Design</h3>
                            </div>
                            
                            <p class="text-gray-300 text-sm p-2 italic">
                                Transforming complex challenges into elegant solutions
                            </p>
                            
                            <div class="absolute bottom-0 left-0 w-full h-1 bg-gradient-to-r from-blue-500 to-purple-500">
                            </div>
                        </div>

                     

                    </div>

                    

            </div>

        </div>

       

</div>

