
<div class="bg-nav text-white font-serif mx-auto p-20 min-h-screen">
    <div class="flex flex-row justify-center items-center gap-4 mb-10">
      <i class="fa-solid fa-briefcase text-3xl text-blue-500"></i>
      <h1 class="text-3xl">My Work Experience</h1>
    </div>
  
    <div class="relative mx-auto max-w-screen-lg">
      <div class="p-4">
        <div class="grid grid-cols-12 gap-16 bg-gradient-to-r from-[#0b1a41]  bg-[#0b1a41] border border-custom-blue-3 hover:border-blue-500 duration-500 p-6 mb-3 rounded-lg ">
            <div class="col-span-4 bg-blue-500 p-4 rounded-lg flex flex-col justify-between h-full">
                <div>
                  <h1 class="text-xl font-thin block">Cloud Solutions Architect</h1>

                </div>
                
                <div>
                  <p class="text-gray-200 font-extralight uppercase">Huawei</p>
                  <p>Jan 2024 - Present</p>
                </div>
              
                
                <div>
                  <span class="bg-slate-300 rounded-xl text-black uppercase text-xs p-2 inline-block ">
                    Full Time
                  </span>
                </div>
            </div>

            <div class="col-span-8 ">
                <ul class="space-y-2">
                    <li class="flex items-start">
                        <span class="text-green-500 mr-3">✓</span>
                        <span>Drove CXO engagement to accelerate Huawei Cloud adoption and uncover new business opportunities.</span>
                    </li>
                    <li class="flex items-start">
                        <span class="text-green-500 mr-3">✓</span>
                        <span>Developed and executed Huawei Cloud business strategies aligned with organizational goals.</span>
                    </li>
                    <li class="flex items-start">
                        <span class="text-green-500 mr-3">✓</span>
                        <span>Identified and created business opportunities, providing pre-sales support and tailored advice to clients.</span>
                    </li>
                    <li class="flex items-start">
                        <span class="text-green-500 mr-3">✓</span>
                        <span>Strengthened customer relationships through branding, technical support, and regional engagement.</span>
                    </li>
                    <li class="flex items-start">
                        <span class="text-green-500 mr-3">✓</span>
                        <span>Integrated internal and external resources to achieve customer goals and foster win-win partnerships.</span>
                    </li>
                </ul>
               
            </div>
        </div>

        <div class="grid grid-cols-12 gap-16 border bg-gradient-to-r from-[#0b1a41] border-custom-blue-3 bg-[#0b1a41] hover:border-blue-500 duration-500 p-6 mb-3 rounded-lg ">
            <div class="col-span-4 bg-blue-500 p-4 rounded-lg flex flex-col justify-between h-full">
                <div>
                  <h1 class="text-xl font-thin block">Cloud Solutions Architect</h1>

                </div>
                
                <div>
                  <p class="text-gray-200 font-extralight uppercase mt-2">Huawei</p>
                  <p>Jan 2024 - Present</p>
                </div>
              
                
                <div>
                  <span class="bg-slate-300 rounded-xl text-black uppercase text-xs p-2 inline-block ">
                    Full Time
                  </span>
                </div>
            </div>

            <div class="col-span-8 ">
                <ul class="space-y-2">
                    <li class="flex ">
                        <span class="text-green-500 mr-3">✓</span>
                        <span>Drove CXO engagement to accelerate Huawei Cloud adoption and uncover new business opportunities.</span>
                    </li>
                    <li class="flex items-start">
                        <span class="text-green-500 mr-3">✓</span>
                        <span>Developed and executed Huawei Cloud business strategies aligned with organizational goals.</span>
                    </li>
                    <li class="flex items-start">
                        <span class="text-green-500 mr-3">✓</span>
                        <span>Identified and created business opportunities, providing pre-sales support and tailored advice to clients.</span>
                    </li>
                    <li class="flex items-start">
                        <span class="text-green-500 mr-3">✓</span>
                        <span>Strengthened customer relationships through branding, technical support, and regional engagement.</span>
                    </li>
                    <li class="flex items-start">
                        <span class="text-green-500 mr-3">✓</span>
                        <span>Integrated internal and external resources to achieve customer goals and foster win-win partnerships.</span>
                    </li>
                </ul>
               
            </div>
        </div>

        
      </div>
    </div>
</div>