<div class="relative" id="navbar">
  <app-navbar class="fixed top-0 left-0 w-full z-50"></app-navbar>
</div>

<div class="w-full overflow-hidden">
  <app-home class="mt-[100px]"></app-home>
</div>

<div class="w-full overflow-hidden">
  <app-about></app-about>
</div>

<div class="w-full overflow-hidden">
  <app-work></app-work>
</div>

<div class="w-full overflow-hidden">
  <app-skills></app-skills>
</div>

<div class="w-full overflow-hidden">
  <app-talks></app-talks>
</div>

<div>
  <app-blog></app-blog>
</div>

<div>
  <app-testimonials></app-testimonials>
</div>

<div>
  <app-contact></app-contact>
</div>
