<div class="relative" id="navbar mb-10">
  <app-navbar class="fixed top-0 left-0 w-full z-50"></app-navbar>
</div>

<div class="w-full overflow-hidden" id="home">
  <app-home class="mt-[100px]"></app-home>
</div>

<div class="w-full overflow-hidden" id="about">
  <app-about></app-about>
</div>

<div class="w-full overflow-hidden" id="work">
  <app-work></app-work>
</div>

<div class="w-full overflow-hidden" id="skills">
  <app-skills></app-skills>
</div>

<div>
  <app-achievements></app-achievements>
</div>

<div class="w-full overflow-hidden" id="talks">
  <app-talks></app-talks>
</div>

<div>
  <app-blog id="blogs"></app-blog>
</div>

<div id="testimonials">
  <app-testimonials></app-testimonials>
</div>

<div id="contact">
  <app-contact></app-contact>
</div>
