<div class="bg-about text-white font-serif mx-auto p-20 min-h-screen">

    <div class="flex justify-center items-center font-bold text-2xl mt-6 mb-8 ">
        <i class="fa-solid fa-brain text-3xl mr-4"></i>        
        <p class="text-4xl tracking-widest">
            <span class="text-[#1e90ff]">My</span>
            <span> Exp</span>
            <span class="border-b-4 border-[#1e90ff]">erti</span>se
        </p>
    </div>

    <div class="relative mx-auto grid grid-cols-2 gap-4 max-w-screen-lg items-center">

        <div class="mb-4">
            <div class="p-4 bg-[#0b1a41] text-center  rounded-lg">
                <h3 class="font-bold p-4 text-2xl">Cloud Architecture and Design</h3>
                <p class="p-4 text-slate-400">
                    I specialize in creating secure and scalable cloud architectures. 
                    My expertise spans multi-cloud platforms like AWS, Azure, and Google Cloud. 
                    I excel in designing hybrid environments that integrate seamlessly with on-premise systems. 
                </p>                 
            </div>
        </div>

        <div class="mb-4">
            <div class="p-4 bg-[#0b1a41] text-center  rounded-lg">
                <h3 class="font-bold p-4  text-2xl">Cloud Architecture and Design</h3>
                <p class="p-4 text-slate-400">
                    I specialize in creating secure and scalable cloud architectures. 
                    My expertise spans multi-cloud platforms like AWS, Azure, and Google Cloud. 
                    I excel in designing hybrid environments that integrate seamlessly with on-premise systems. 
                </p>                 
            </div>
        </div>

        <div class="mb-4">
            <div class="p-4 bg-[#0b1a41] text-center  rounded-lg">
                <h3 class="font-bold p-4 text-2xl">Cloud Architecture and Design</h3>
                <p class="p-4 text-slate-400">
                    I specialize in creating secure and scalable cloud architectures. 
                    My expertise spans multi-cloud platforms like AWS, Azure, and Google Cloud. 
                    I excel in designing hybrid environments that integrate seamlessly with on-premise systems. 
                </p>                 
            </div>
        </div>

        <div class="mb-4">
            <div class="p-4 bg-[#0b1a41] text-center  rounded-lg">
                <h3 class="font-bold p-4 text-2xl">Cloud Architecture and Design</h3>
                <p class="p-4 text-slate-400">
                    I specialize in creating secure and scalable cloud architectures. 
                    My expertise spans multi-cloud platforms like AWS, Azure, and Google Cloud. 
                    I excel in designing hybrid environments that integrate seamlessly with on-premise systems. 
                </p>                 
            </div>
        </div>

        

    </div>

    <div class="mt-12 gap-4">
        <div class="col-span-3 flex flex-row justify-evenly">
            
          <div class="flex flex-col gap-2 items-center hover:scale-110 duration-500 cursor-pointer">
            <img src="https://img.icons8.com/?size=100&id=33039&format=png&color=000000" 
            class="w-12 bg-white rounded-full p-2" alt="d">
            <p>AWS</p>
          </div>
            
           <div class=" flex flex-col gap-2 items-center hover:scale-110 duration-500 cursor-pointer">
            <img src="https://img.icons8.com/?size=100&id=VLKafOkk3sBX&format=png&color=000000"
            class="w-12 bg-white rounded-full p-2 group-hover:rotate-90 
            transition-transform 
            shadow-md"  alt="">
            Azure
           </div>

           <div class=" flex flex-col gap-2 items-center hover:scale-110 duration-500 cursor-pointer">
            <img src="https://img.icons8.com/?size=100&id=WHRLQdbEXQ16&format=png&color=000000"
            class="w-12 bg-white rounded-full p-2"  alt="">
            <p>Google Cloud</p>
           </div>

           <div class=" flex flex-col gap-2 items-center hover:scale-110 duration-500 cursor-pointer">
            <img src="https://img.icons8.com/?size=100&id=LFiG3hXtoOyH&format=png&color=000000"
             class="w-12 bg-white rounded-full p-2" alt="">
             <p>Huawei Cloud</p>

           </div>
             
        </div>

      
    </div>
    
    

</div>