<div class="bg-nav text-white font-serif mx-auto p-4 md:p-20 h-auto ">

    <div class="flex flex-row justify-center items-center gap-4 mb-10">
        <i class="fa-regular fa-comment text-3xl text-blue-500"></i>
    
        <div class="flex flex-col items-center">
            <h1 class="text-2xl md:text-3xl mb-4">Podium Perspectives</h1>
            <hr class="w-1/2 ">
        </div>
    </div>

    <div class="relative mx-auto grid grid-cols-1 gap-6 lg:grid-cols-2 max-w-screen-xl items-start">        

        <!-- Video 1 -->
        <div class="flex flex-col md:mt-8 md:w-5/6">
            <iframe 
                src="https://www.youtube.com/embed/FyYHRPCrpMo" 
                title="The Pathway to Becoming an AWS Solution Architect || CloudForceSky || James Juma Sindani" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" 
                class="rounded-lg w-full h-64 md:h-80 lg:h-96 mb-4"
                allowfullscreen>
            </iframe>
            <p class="text-center mt-4 text-lg font-semibold">Cloud Force sky bootcamp</p>
        </div>
        
        <!-- Video 2 -->
        <div class="flex flex-col md:mt-8 md:w-5/6">
            <iframe 
                src="https://www.youtube.com/embed/9st7RVY7kdA" 
                title="The Pathway to Becoming an AWS Solution Architect || CloudForceSky || James Juma Sindani" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" 
                class="rounded-lg w-full h-64 md:h-80 lg:h-96 mb-4"
                allowfullscreen>
            </iframe>
            <p class="text-center mt-4 text-lg font-semibold">AWS user group part one</p>
        </div>
    
        <!-- Video 3 -->
        <div class="flex flex-col md:mt-8 md:w-5/6">
            <iframe 
                src="https://www.youtube.com/embed/btA7H5m6sIQ" 
                title="The Pathway to Becoming an AWS Solution Architect || CloudForceSky || James Juma Sindani" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin"
                class="rounded-lg w-full h-64 md:h-80 lg:h-96 mb-4" 
                allowfullscreen>
            </iframe>
            <p class="text-center mt-4 text-lg font-semibold">AWS usergroup part two</p>
        </div>
    
        <!-- Video 4 -->
        <div class="flex flex-col md:mt-8 md:w-5/6">
            <iframe 
                src="https://www.youtube.com/embed/tyFfmFSAQwQ" 
                title="The Pathway to Becoming an AWS Solution Architect || CloudForceSky || James Juma Sindani" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin"
                class="rounded-lg w-full h-64 md:h-80 lg:h-96 mb-4" 
                allowfullscreen>
            </iframe>
            <p class="text-center mt-4 text-lg font-semibold">IT Career sessions with Kevin</p>
        </div>
    
    </div>
    
    
    <div class="hidden md:block p-4 md:mt-10">

        <div class="flex flex-col items-center ">
            <hr class="w-full md:w-1/2 border-b-4 border-gray-300 rounded-lg">
            <div class="flex flex-row items-center gap-4 text-3xl ">
                <i class="fa-regular fa-image text-[#1e90ff]"></i>
               <h1 class="text-3xl  p-3 rounded-lg my-3">Gallery</h1>
            </div>
            <hr class="w-1/2 md:w-1/6 mb-14 border-b-4 border-gray-300 rounded-lg">

        </div>

        <div class="relative mx-auto grid grid-cols-1  gap-4 max-w-screen-lg items-center">

    

    <div class="flex flex-col gap-2">
        <div class="grid md:grid-cols-2 gap-2">
            <img class="h-auto max-w-full rounded-lg" src="../../../assets/1.jpg" alt="">
            <img class="h-auto max-w-full rounded-lg" src="../../../assets/2.jpg" alt="">

        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
        
            <div *ngFor="let img of imgPathLg">
                <img class="h-auto max-w-full rounded-lg" src="{{img}}" alt="">
            </div>
           
        </div>

    </div>

        </div>
    
    </div>

    <div class="my-4 md:hidden">

        <div class="flex flex-col items-center ">
            <hr class="w-full md:w-1/2 border-b-4 border-gray-300 rounded-lg">
            <div class="flex flex-row items-center gap-4 text-3xl ">
                <i class="fa-regular fa-image text-[#1e90ff]"></i>
               <h1 class="text-3xl  p-3 rounded-lg my-3">Gallery</h1>
            </div>
            <hr class="w-1/2 md:w-1/6 mb-14 border-b-4 border-gray-300 rounded-lg">

        </div>

        <swiper-container 
        loop="true" 
        navigation="true"
        pagination="true"
        speed="500"
        effect="cards" grab-cursor="true"
        class="flex items-center justify-center"
        >
                <swiper-slide 
                *ngFor="let img of imgPathSm"
                class="flex justify-center">
                  <img src="{{img}}"
                  class="rounded-lg" />
                </swiper-slide>
                
              
        </swiper-container>
    </div>
   

</div>