<div class="bg-nav text-white font-serif mx-auto p-20 h-auto ">

    <div class="flex flex-row justify-center items-center gap-4 mb-10">
        <i class="fa-regular fa-comment text-3xl text-blue-500"></i>
    
        <div class="flex flex-col items-center">
            <h1 class="text-3xl mb-4">Podium Perspectives</h1>
            <hr class="w-1/2 ">
        </div>
    </div>

    <div class="relative mx-auto grid grid-cols-1 lg:grid-cols-2 gap-4 max-w-screen-xl items-center">        
    
        <div class="mt-8">
            
             <iframe width="560" height="315"
                src="https://www.youtube.com/embed/FyYHRPCrpMo" 
                title="The Pathway to Becoming an AWS Solution Architect || CloudForceSky || James Juma Sindani" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" 
                class="rounded-lg"
                allowfullscreen>
            </iframe>
            <p class="text-center m-4">Cloud Force sky bootcamp</p>
        </div>

        <div class="mt-8">
            <iframe width="560" height="315"
                src="https://www.youtube.com/embed/9st7RVY7kdA" 
                title="The Pathway to Becoming an AWS Solution Architect || CloudForceSky || James Juma Sindani" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" 
                class="rounded-lg"
                allowfullscreen>
            </iframe>
            <p class="text-center m-4">AWS user group part one</p>
        </div>

        <div class="mt-8">
            <iframe width="560" height="315"
                src="https://www.youtube.com/embed/btA7H5m6sIQ" 
                title="The Pathway to Becoming an AWS Solution Architect || CloudForceSky || James Juma Sindani" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin"
                class="rounded-lg" 
                allowfullscreen>
            </iframe>
            <p class="text-center m-4">AWS usergroup part two</p>
        </div>


        <div class="mt-8">
            <iframe width="560" height="315"
                src="https://www.youtube.com/embed/tyFfmFSAQwQ" 
                title="The Pathway to Becoming an AWS Solution Architect || CloudForceSky || James Juma Sindani" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin"
                class="rounded-lg" 
                allowfullscreen>
            </iframe>
            <p class="text-center m-4">IT Career sessions with Kevin</p>
        </div>
        
       

    </div>
    
    <div class="p-4 mt-16">

        <div class="flex flex-col items-center ">
            <hr class="w-1/2 border-b-4 border-[#1e90ff] rounded-lg">
            <div class="flex flex-row items-center gap-4 text-3xl ">
                <i class="fa-regular fa-image text-[#1e90ff]"></i>
               <h1 class="text-3xl  p-3 rounded-lg my-3">Gallery</h1>
            </div>
            <hr class="w-1/6 mb-20 border-b-4 border-[#1e90ff] rounded-lg">

        </div>

        <div class="relative mx-auto grid grid-cols-1  gap-4 max-w-screen-lg items-center">

    

    <div class="flex flex-col gap-2">
        <div class="grid grid-cols-2 gap-2">
            <img class="h-auto max-w-full rounded-lg" src="../../../assets/1.jpg" alt="">
            <img class="h-auto max-w-full rounded-lg" src="../../../assets/2.jpg" alt="">

        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
        
            <div>
                <img class="h-auto max-w-full rounded-lg" src="../../../assets/3.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="../../../assets/4.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="../../../assets/6.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="../../../assets/52.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg" src="../../../assets/7.jpg" alt="">
            </div>

            <div>
                <img class="h-auto max-w-full rounded-lg" src="../../../assets/8.jpg" alt="">
            </div>
        </div>

    


    </div>

              

        </div>
    
    </div>
   

</div>